# Steps involved in model building

1. Reqirment gathering or understand the problem
2. Data gathering( collecting the data)
3. Data cleaning (data pre processing) ---> handling null, replace, level incoder, rename,add,drop;
4. sampling ( divide your data into Train data and test data)
5. Build the model on the Train data
6. evaluate (judge the performance) the model on test data
7. run your model again if needed for any above step to improve the model

* Testing should not be done on the same data which we use to train data because getting it correct is high( high accuracy )
* Data is divided in two parts ( Train & Test) after then further dived into train_x & test_x dataframe

In [5]:
import pandas as pd

In [6]:
cr = pd.read_csv(r"C:\Users\admin\Downloads\CreditRisk.csv")
cr

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0.0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,4.0,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2.0,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1.0,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2.0,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2.0,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2.0,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0.0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2.0,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0.0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1.0,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0.0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0.0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0.0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0.0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1.0,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0.0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2.0,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1.0,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0.0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0.0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2.0,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0.0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2.0,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,LP002856,Male,Yes,0.0,Graduate,No,2292,1558.0,119.0,360.0,1.0,Urban,Y
952,LP002857,Male,Yes,1.0,Graduate,Yes,2360,3355.0,87.0,240.0,1.0,Rural,Y
953,LP002858,Female,No,0.0,Graduate,No,4333,2333.0,162.0,360.0,0.0,Rural,N
954,LP002860,Male,Yes,0.0,Graduate,Yes,2623,4831.0,122.0,180.0,1.0,Semiurban,Y
955,LP002867,Male,No,0.0,Graduate,Yes,3972,4275.0,187.0,360.0,1.0,Rural,Y
956,LP002869,Male,Yes,4.0,Not Graduate,No,3522,0.0,81.0,180.0,1.0,Rural,N
957,LP002870,Male,Yes,1.0,Graduate,No,4700,0.0,80.0,360.0,1.0,Urban,Y
958,LP002876,Male,No,0.0,Graduate,No,6858,0.0,176.0,360.0,1.0,Rural,Y
959,LP002878,Male,Yes,4.0,Graduate,No,8334,0.0,260.0,360.0,1.0,Urban,Y
960,LP002879,Male,Yes,0.0,Graduate,No,3391,1966.0,133.0,360.0,0.0,Rural,N
961,LP002885,Male,No,0.0,Not Graduate,No,2868,0.0,70.0,360.0,1.0,Urban,Y
962,LP002890,Male,Yes,2.0,Not Graduate,No,3418,1380.0,135.0,360.0,1.0,Urban,Y
963,LP002891,Male,Yes,0.0,Graduate,Yes,2500,296.0,137.0,300.0,1.0,Rural,Y
964,LP002899,Male,Yes,2.0,Graduate,No,8667,0.0,254.0,360.0,1.0,Rural,Y
965,LP002901,Male,No,0.0,Graduate,No,2283,15000.0,106.0,360.0,NaN,Rural,Y
966,LP002907,Male,Yes,0.0,Graduate,No,5817,910.0,109.0,360.0,1.0,Urban,Y
967,LP002920,Male,Yes,0.0,Graduate,No,5119,3769.0,120.0,360.0,1.0,Rural,Y
968,LP002921,Male,Yes,4.0,Not Graduate,No,5316,187.0,158.0,180.0,0.0,Semiurban,Y
969,LP002932,Male,Yes,4.0,Graduate,No,7603,1213.0,197.0,360.0,1.0,Urban,Y
970,LP002935,Male,Yes,1.0,Graduate,No,3791,1936.0,85.0,360.0,1.0,Urban,Y
971,LP002952,Male,No,0.0,Graduate,No,2500,0.0,60.0,360.0,1.0,Urban,Y
972,LP002954,Male,Yes,2.0,Not Graduate,No,3132,0.0,76.0,360.0,NaN,Rural,Y
973,LP002962,Male,No,0.0,Graduate,No,4000,2667.0,152.0,360.0,1.0,Semiurban,Y
974,LP002965,Female,Yes,0.0,Graduate,No,8550,4255.0,96.0,360.0,NaN,Urban,Y
975,LP002969,Male,Yes,1.0,Graduate,No,2269,2167.0,99.0,360.0,1.0,Semiurban,Y
976,LP002971,Male,Yes,4.0,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban,Y
977,LP002975,Male,Yes,0.0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban,Y
978,LP002980,Male,No,0.0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban,Y
979,LP002986,Male,Yes,0.0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural,N
980,LP002989,Male,No,0.0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural,Y

In [7]:
cr.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [25]:
cr = cr.drop(['Loan_ID'] , axis =1)

In [26]:
cr.Gender.fillna('Male', inplace = True)
cr.Married.fillna('Yes', inplace = True)
cr.Dependents.fillna(0, inplace = True)
cr.Self_Employed.fillna('No', inplace = True)
cr.LoanAmount.fillna(cr.LoanAmount.mean() ,inplace = True)
cr.Loan_Amount_Term.fillna(cr.Loan_Amount_Term.mean() ,inplace = True)
cr.Credit_History.fillna( 0 ,inplace = True)

In [27]:
from sklearn.preprocessing import LabelEncoder   # required import  and data should not contain nulls in data
le = LabelEncoder()

In [28]:
cr.Gender = le.fit_transform(cr.Gender)
cr.Married = le.fit_transform(cr.Married)
cr.Education = le.fit_transform(cr.Education)
cr.Self_Employed = le.fit_transform(cr.Self_Employed)
cr.Property_Area = le.fit_transform(cr.Property_Area)
cr.Loan_Status = le.fit_transform(cr.Loan_Status)

In [21]:
cr[cr.select_dtypes(include=['object']).columns] = cr[cr.select_dtypes(include=['object']).columns].apply(le.fit_transform)

ValueError: Must have equal len keys and value when setting with an iterable

In [29]:
cr.head(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0.0,0,0,5849,0.0,142.51153,360.0,1.0,2,1
1,1,1,1.0,0,0,4583,1508.0,128.00000,360.0,1.0,0,0
2,1,1,0.0,0,1,3000,0.0,66.00000,360.0,1.0,2,1
3,1,1,0.0,1,0,2583,2358.0,120.00000,360.0,1.0,2,1
4,1,0,0.0,0,0,6000,0.0,141.00000,360.0,1.0,2,1

In [35]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 12 columns):
Gender               981 non-null int64
Married              981 non-null int64
Dependents           981 non-null float64
Education            981 non-null int64
Self_Employed        981 non-null int64
ApplicantIncome      981 non-null int64
CoapplicantIncome    981 non-null float64
LoanAmount           981 non-null float64
Loan_Amount_Term     981 non-null float64
Credit_History       981 non-null float64
Property_Area        981 non-null int64
Loan_Status          981 non-null int64
dtypes: float64(5), int64(7)
memory usage: 92.0 KB

In [32]:
cr.shape

(981, 12)

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# simple random sampling
train_cr , test_cr = train_test_split(cr , test_size = 0.2)

In [36]:
train_cr.shape

(784, 12)

In [40]:
train_cr.head(2)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
332,1,0,0.0,0,0,2833,0.0,71.0,360.0,1.0,2,1
244,1,1,0.0,1,0,3406,4417.0,123.0,360.0,1.0,1,1

In [38]:
test_cr.shape

(197, 12)

In [41]:
test_cr.head(2)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
730,0,0,0.0,1,0,0,1760.0,180.0,360.0,1.0,1,0
905,1,1,2.0,0,0,3166,2833.0,145.0,360.0,1.0,2,1

In [49]:
test_cr.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
# 2. seprate the data into x and y ( trainand test as well)

In [51]:
train_x = cr.iloc[ ::  , [1,2,3,4,5,6,7,8,9,10]  ]

In [56]:
train_x.head(2)

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,0.0,0,0,5849,0.0,142.51153,360.0,1.0,2
1,1,1.0,0,0,4583,1508.0,128.00000,360.0,1.0,0

In [53]:
test_x = cr.iloc[ ::  , [11]  ]

In [55]:
test_x.head(2)

   Loan_Status
0            1
1            0

In [59]:
train_cr_x = train_cr.iloc[: , 0:-1]
train_cr_y = train_cr.iloc[: , -1]

In [60]:
test_cr_x = test_cr.iloc[: , 0:-1]
test_cr_y = test_cr.iloc[: , -1]

# obesity data

In [63]:
pwd

'C:\\Users\\admin'

In [4]:
data = pd.read_csv(r"‪‪‪C:\Users\admin\obesitylevels.csv")

FileNotFoundError: File b'\xe2\x80\xaa\xe2\x80\xaa\xe2\x80\xaaC:\\Users\\admin\\obesitylevels.csv' does not exist

In [3]:
ol = pd.read_csv(r"‪‪‪C:\Users\admin\obesitylevels.csv")

FileNotFoundError: File b'\xe2\x80\xaa\xe2\x80\xaa\xe2\x80\xaaC:\\Users\\admin\\obesitylevels.csv' does not exist

In [68]:
ol.head(2)

NameError: name 'ol' is not defined

In [ ]:
ol.select_dtypes(include =[ 'object']).columns

In [ ]:
ol.Gender.replace({'male':1, 'female':0},inplace = True) 
ol.family_history_with_overweight.replace({'yes':1, 'no':0},inplace = True) 
ol.FAVC.replace({'yes':1, 'no':0},inplace = True) 
ol.CAEC.replace({'Sometimes':1, 'Frequently':2 ,'Always':3 ,'no':0},inplace = True) 
ol.SMOKE.replace({'yes':1, 'no':0},inplace = True) 
ol.SCC.replace({'yes':1, 'no':0},inplace = True) 
ol.CALC.replace({'Sometimes':1, 'Frequently':2 ,'Always':3 ,'no':0},inplace = True) 
ol.MTRANS.replace({'Walking':1, 'Public_Transportation':2,'Automobile':3,'Bike':4,'Moterbike':0},inplace = True) 
ol.NObeyesdad.replace({ 'Normal_Weight':7, 'Overweight_Level_I':6, 'Overweight_Level_II':5, 'Obesity_Type_I':4, 'Obesity_Type_II':3, 'Obesity_Type_III':2,  'Overweight_Level_I':1,'Overweight_Level_II':0},inplace = True)

In [ ]:
ol.info()

In [ ]:
ol.head(2)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# simple random sampling
train_ol , test_ol = train_test_split(ol , test_size = 0.2)

In [ ]:
train_ol_x = train_ol.iloc[: , 0:-1]
train_ol_y = train_ol.iloc[: , -1]

In [ ]:
test_cr_x = test_cr.iloc[: , 0:-1]
test_cr_y = test_cr.iloc[: , -1]

# insurace suscribe data

In [69]:
ins = pd.read_csv(r"‪C:\Users\admin\Downloads\Insurance_suscribe.csv")

FileNotFoundError: File b'\xe2\x80\xaaC:\\Users\\admin\\Downloads\\Insurance_suscribe.csv' does not exist

In [71]:
ins.head(2)